[Desktop Entry]
Name[hu]=Ablakhatások
GenericName[hu]=Compton beállítás
Comment[ru_RU]=Compton-ablakhatások beállítása

#TRANSLATIONS_DIR=translations
