[Desktop Entry]
Name[ru_RU]=Эффекты окна
GenericName[ru_RU]=Настройка Compton
Comment[ru_RU]=Настроить эффекты окна Compton

#TRANSLATIONS_DIR=translations
